
#despre-content {
  margin-top: 80px;
}

#despre-content .small-menu {
  text-align: center;
  top: -40px;
  font-family: Merriweather, serif;
  margin-left: 15px;
  margin-right: 15px;
}

#despre-content .small-menu .btn {
  background: none;
  border-radius: 0;
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid #933;
  color: #933;
}

#despre-content .nav-link {
  color: #333;
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 0;
  padding-bottom: 3px;
}

#despre-content .small-menu .nav-link {
  text-transform: capitalize;
  background-color: transparent;
  padding-left: 15px;
}

#despre-content h3 {
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #999;
  display: inline-block;
}

#despre-content .nav-link:hover,
#despre-content .nav-link.active {
  background: none;
  color: #d03233;
}

#despre-content ul li a svg {
  margin-right: 5px;
}

#despre-content #custom-menu-content {
  padding-right: 30px;
}

#despre-content .despre-row {
  margin-bottom: 80px;
}

#despre-content .despre-logo-partener {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

#despre-content .descriere-toti-partenerii {
  margin-bottom: 60px;
}

#despre-content .despre-row-partener {
  margin-bottom: 60px;
}

#despre-content .small-menu .dropdown-item {
  font-size: 1.2rem;
  padding: 10px;
  text-transform: capitalize;
}
