html,
body {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  counter-reset: element;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Merriweather, serif;
}

#jumbotron-alert {
  padding: 16px;
  background-color: #fc0;
  color: #1c1c1c;
  width: 100%;
  min-height: 56px;
}

#jumbotron-alert p {
  margin: 0;
}
