location ~*  \.(jpg|jpeg|png|gif|ico|css|js|svg)$ {
  expires 365d;
}

location ~*  \.(pdf)$ {
  expires 30d;
}

location /security.txt {
  return 301 https://$host/.well-known/security.txt;
}

location = /.well-known/security.txt {
  alias /srv/www/fiipregatit.ro/current/web/app/themes/fiipregatit/.security.txt;
}
